---
layout: layouts/base.njk
isScrollSmooth: true
---
<div class="hero hero--bg">
	<div class="container">
		<h1 class="hero__title">{{ title }}</h1>
	</div>
</div>
<div class="container page__columns">
	<aside class="page__aside">
		<div class="cta">
			<h2 class="page__title">Открытые вакансии</h2>
			<p>Команда «Нейро-пси» развивается, поэтому вакансии появляются во всех городах, где есть наши клиники. Если хотите работать с нами, пишите и присылайте резюме. Обычно отвечаем в течение недели.</p>
			<a class="btn" href="#form">Отправить резюме</a>
		</div>
	</aside>
	<div class="page__content">
		<p class="page__lead">{{ lead }}</p>
		{{ content | safe }}
		<div class="page__highlighted">
			<h2 class="page__title">Как устроен процесс найма</h2>
			<p>Если вы из другого города, то все этапы можно пройти онлайн. При успешном прохождении мы перевозим кандидатов в город, где у нас есть клиника, оплачиваем квартиру на три месяца, берём на себя расходы по переезду и заранее формируем спрос на консультации.</p>
			<h3>Заявка и личное знакомство</h3>
			<p>Вы отправляете заявку и сопроводительное письмо через специальную форму. Мы смотрим на основное образование, опыт работы в рациональных методах терапии и сопроводительное письмо.</p>
			<p>В приоритете специалисты с опытом от трёх лет, готовые много работать, с навыками решения проблем, выходящих за границы рабочего сеттинга, эмоционально взрослые, умеющие справляться с аффектом. Если кандидат нас заинтересовал, мы связываемся, знакомимся и предлагем пройти на следующий этап.</p>
			<h3>Видеоответ на кейс и заполнение опросника</h3>
			<p>Высылаем кейс терапевтического случая по специализации и даём 30 минут на подготовку к ответу, затем просим записать и прислать видео. Опросник, составленный нашими ведущими специалистами, заполняется кандидатами самостоятельно.</p>
			<p>Кейс позволяет понять базовое умение концептуализировать, а опросник — выявить профессиональные и личные ценности, ориентиры и стиль мышления.</p>
			<h3>Совместные первичные консультации, ко-терапия и супервизия</h3>
			<p>Кандидат присутсвует на первичных консультация и ведет клиентов в ко-терапии, совместно с нашими специалистами. Здесь нам нужно увидеть работу человека с реальными клиентами на практике.</p>
			<p>Наши ведущие специалисты и коллективы разных клиник подключают кандидата к нашим интервизиям и супервизиям по видеосвязи. Он участвует во всех событиях клиники вместе со всеми, обсуждая случаи из реальной практики коллег.</p>
			<h3>Испытательный срок</h3>
			<p>Размещаем на специалиста на сайте, приглашаем клиентов на первичные консультации. Через месяц оформляем как штатного сотрудника.</p>
			<figure class="page__highlighted_author">
				<img src="{{ '/static/img/ten.jpg' | url }}" width="64" height="64" alt="">
				<figcaption>
					<b>Тен Максим Александрович</b>
					<p>HR-специалист Нейро-Пси</p>
				</figcaption>
			</figure>
		</div>
		<form action="" method="post" class="page__form" id="form">
			<div class="page__bordered">
				<h2 class="page__title">Отправить заявку и резюме</h2>
				<p class="form__row form__row--short">
					<label class="form__label page__subheading" for="name">Ваши имя и фамилия</label>
					<input class="form__input" type="text" placeholder="Иван Иванов" id="name" name="name">
				</p>
				<p class="form__row form__row--short">
					<label class="form__label page__subheading" for="city">В какую клинику</label>
					<select class="form__input" id="city" name="city">
						<option value="moscow">Клиника в Москве</option>
						<option value="krasnodar">Клиника в Краснодаре</option>
					</select>
				</p>
				<p class="form__row">
					<label class="form__label page__subheading" for="comment">Расскажите о себе</label>
					<textarea class="form__input" placeholder="Напишите пару слов о себе: на чём специализируетесь, какой опыт, почему хотите работать у нас?" id="comment" name="comment" rows="5"></textarea>
				</p>
				<p class="form__row">
					<label class="form__file"><input class="invisible" type="file" name="resume"><span class="btn btn--transparent">Прикрепить резюме</span></label>
					<span class="color--gray font-size--secondary">PDF, PNG или файл в Ворде, до 10 Мб</span>
				</p>
				<input class="btn form__row--short" type="submit" value="Отправить">
			</div>
			<p class="color--gray font-size--secondary">Отправляя заявку, вы соглашаетесь с <a class="form__policy_link" href="{{ '/privacy/' | url }}">условиями обработки персональных данных</a>
			</p>
		</form>
	</div>
</div>
