---
layout: home.njk
title: Демо-сайт Нейро-пси
path: home
---

<div class="hero">
	<div class="container">
		<h1 class="hero__title">{{ title }}</h1>
	</div>
</div>

<div class="container">
	<p>Работающие страницы:</p>
	<ul>
		<li><a class="form__policy_link" href="{{ 'consult/' }}">Первичные консультации</a></li>
		<li><a class="form__policy_link" href="{{ 'programs/' }}">С чем помогаем</a></li>
		<li><a class="form__policy_link" href="{{ 'specialists/' }}">Специалисты</a></li>
		<li><a class="form__policy_link" href="{{ 'feedback/' }}">Отзывы</a></li>
		<li><a class="form__policy_link" href="{{ 'specialists-calendar/' }}">Специалисты с календарями</a></li>
		<li><a class="form__policy_link" href="{{ 'blog/' }}">Блог</a></li>
		<li><a class="form__policy_link" href="{{ 'price-old/' }}">Цены 1.0</a></li>
		<li><a class="form__policy_link" href="{{ 'price/' }}">Цены</a></li>
		<li><a class="form__policy_link" href="{{ 'about/' }}">О клинике</a></li>
		<li><a class="form__policy_link" href="{{ 'vacancies/' }}">Вакансии</a></li>
		<li><a class="form__policy_link" href="{{ 'contact/' }}">Контакты</a></li>
		<li><a class="form__policy_link" href="{{ 'privacy/' }}">Политика конфиденциальности</a></li>
	</ul>
</div>
