---
layout: layouts/base.njk
title: Цены
---
<div class="hero hero--bg">
	<div class="container">
		<h1 class="hero__title">{{ title }}</h1>
	</div>
</div>
<div class="container page__columns">
	<div class="page__content">
		<table class="price__table">
			<thead>
			<tr><th class="page__title" colspan="2">Первичные консультации</th></tr>
			<tr><td class="price__description" colspan="2">Для постановки диагноза, диагностики и определения метода лечения</td></tr>
			</thead>
			<tbody>
				<tr>
					<td>Первичная консультация психолога</td>
					<td class="price__cost">2900</td>
				</tr>
				<tr>
					<td>Первичная
						<a class="link--text" href="{{ '/consult/psychotherapist/' | url }}">консультация психотерапевта</a></td>
					<td class="price__cost">2900</td>
				</tr>
				<tr>
					<td>Первичный приём семейного психотерапевта</td>
					<td class="price__cost">2900</td>
				</tr>
				<tr>
					<td>Первичный приём
						<a class="link--text" href="{{ '/consult/psychiatrist/' | url }}">психиатра</a></td>
					<td class="price__cost">2900</td>
				</tr>
			</tbody>
			<tfoot>
			<tr>
				<td colspan="2">
					<button class="btn btn--gray hidden--desktop" type="button" aria-haspopup="dialog" aria-controls="callback">Записаться на приём</button>
				</td>
			</tr>
			</tfoot>
		</table>

		<table class="price__table">
			<thead>
			<tr><th class="page__title" colspan="2">Блоки консультаций</th></tr>
			<tr>
				<td class="price__tabs" colspan="2">
					<a class="price__tab" href="#specialist" aria-controls="specialist" aria-current="true" data-label="Показать специалистов">Специалист</a>
					<a class="price__tab" href="#leadSpecialist" aria-controls="leadSpecialist" aria-current="false" data-label="Показать ведущих специалистов">Ведущий специалист</a>
					<a class="price__tab" href="#expert" aria-controls="expert" aria-current="false" data-label="Показать экспертов">Эксперт</a>
					<a class="price__tab" href="#leadExpert" aria-controls="leadExpert" aria-current="false" data-label="Показать ведущих экспертов">Ведущий эксперт</a>
				</td>
			</tr>
			</thead>
			<tbody class="price__body" id="specialist">
				<tr>
					<td>Одна консультация</td>
					<td class="price__cost">5000</td>
				</tr>
				<tr>
					<td>Пять</td>
					<td>
						<s class="color--gray">5000</s>
						<span class="price__cost">4500</span>
					</td>
				</tr>
				<tr>
					<td>Десять</td>
					<td>
						<s class="color--gray">5000</s>
						<span class="price__cost">4000</span>
					</td>
				</tr>
			</tbody>
			<tbody class="price__body" id="leadSpecialist" hidden>
				<tr>
					<td>Одна консультация</td>
					<td class="price__cost">6000</td>
				</tr>
				<tr>
					<td>Пять</td>
					<td>
						<s class="color--gray">6000</s>
						<span class="price__cost">4500</span>
					</td>
				</tr>
				<tr>
					<td>Десять</td>
					<td>
						<s class="color--gray">6000</s>
						<span class="price__cost">4000</span>
					</td>
				</tr>
			</tbody>
			<tbody class="price__body" id="expert" hidden>
				<tr>
					<td>Одна консультация</td>
					<td class="price__cost">5000</td>
				</tr>
				<tr>
					<td>Пять</td>
					<td>
						<s class="color--gray">5000</s>
						<span class="price__cost">4500</span>
					</td>
				</tr>
				<tr>
					<td>Десять</td>
					<td>
						<s class="color--gray">5000</s>
						<span class="price__cost">4000</span>
					</td>
				</tr>
			</tbody>
			<tbody class="price__body" id="leadExpert" hidden>
				<tr>
					<td>Одна консультация</td>
					<td class="price__cost">6000</td>
				</tr>
				<tr>
					<td>Пять</td>
					<td>
						<s class="color--gray">6000</s>
						<span class="price__cost">4500</span>
					</td>
				</tr>
				<tr>
					<td>Десять</td>
					<td>
						<s class="color--gray">6000</s>
						<span class="price__cost">4000</span>
					</td>
				</tr>
			</tbody>
			<tfoot>
			<tr>
				<td colspan="2">
					<a class="btn btn--gray_desktop" href="">Показать специалистов</a>
					<h3>Почему блоки?</h3>
					<p>Терапия — долгосрочный процесс. По нашему опыту, две-три сессии не приведут к желаемому результату. Покупка блока даёт гарантию, что вы не бросите начатое и достигнете ваших целей с более высокой вероятностью.</p>
					<h3>Как работают блоки?</h3>
					<p>Стоимость блока зависит от уровня психолога или психотерапевта. Чем опытнее специалист и чем выше его рейтинг, тем дороже консультация. Выберите желаемый уровень и перейдите в каталог, чтобы изучить специалистов, подходящих под ваш запрос.</p>
				</td>
			</tr>
			</tfoot>
		</table>

		<table class="price__table">
			<thead>
			<tr><th class="page__title" colspan="2">Другие услуги</th></tr>
			</thead>
			<tbody>
				<tr>
					<td>Медико-психологический консилиум</td>
					<td class="price__cost">4800</td>
				</tr>
				<tr>
					<td>Миннесотский многоаспектный личностный опросник</td>
					<td class="price__cost">5700</td>
				</tr>
				<tr>
					<td>Психиатрическая комиссия по смене пола</td>
					<td class="price__cost">22 000</td>
				</tr>
				<tr>
					<td>Справка для детского сада или школы</td>
					<td class="price__cost">500</td>
				</tr>
				<tr>
					<td>Приём детского психиатра</td>
					<td class="price__cost">2900</td>
				</tr>
				<tr>
					<td>Повторная выписка рецепта</td>
					<td class="price__cost">2900</td>
				</tr>
			</tbody>
			<tfoot>
			<tr>
				<td colspan="2">
					<button class="btn btn--gray hidden--desktop" type="button" aria-haspopup="dialog" aria-controls="callback">Записаться в клинику</button>
				</td>
			</tr>
			</tfoot>
		</table>
	</div>
	<aside class="page__aside hidden--mobile">
		<button class="btn" type="button" aria-haspopup="dialog" aria-controls="callback">Записаться на приём</button>
	</aside>
</div>

<script>
	let priceTabsWrappers = document.querySelectorAll('.price__tabs');
	for (let priceTabsWrapper of priceTabsWrappers) {
		const priceTable = priceTabsWrapper.parentElement.parentElement.parentElement;
		const priceTabs = priceTabsWrapper.children;
		const priceTabsBodies = priceTable.querySelectorAll('.price__body');
		const priceBtn = priceTable.querySelector('.btn');
		for (let priceTab of priceTabs) {
			priceTab.addEventListener('click', function (e) {
				e.preventDefault();
				for (let i=0; i < priceTabs.length; i++) {
					priceTabs[i].setAttribute('aria-current', 'false');
					priceTabsBodies[i].hidden = true;
				}
				e.target.setAttribute('aria-current', 'true');
				document.getElementById(e.target.getAttribute('aria-controls')).hidden = false;
				priceBtn.innerText = e.target.dataset.label;
			});
		}
	}
</script>
